@charset "UTF-8";

/* 共通のスタイル */
body {
    background-color: #f5f0b4;
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* スマホ用のスタイル */
    body {
      font-size: 16px; /* 文字サイズを大きくする */
    }
    
    img {
      width: 100%; /* 画像を画面幅いっぱいに表示する */
    }
    
    #map {
        height: 70vh; /* マップの高さを調整する */
        width: 100%; /* マップの幅を画面幅いっぱいに調整する */
        margin: 0 5px; /* マップの左右の余白を調整する */
    }
  }
  

/* 背景画像*/
/* body {
  background-image: url('images');
  background-size: cover;
  background-position: center;
} */

/* メニューバーのスタイル */
header {
    background-color: #f5f0b4;
    color: black;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #e0d7bf;
    overflow: hidden;
    display: flex; /* 中央揃えのための追加 */
    justify-content: center; /* 中央揃えのための追加 */
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ed8f4c;
    color: black;
}

/* マップのスタイル */
#map {
    margin: 0 auto;
    height: 60vh;
    width: 60%;
    max-width: 100%; /* 画面幅を超えた場合に横スクロールが発生しないようにする */
}

/* ふきだしのスタイル変更 */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #008b8b;
    color: #FFF;
}

/* 画像のスタイル */
img {
    width: 60%;
}

/* スライドショーのスタイル */
.slider {
    width: 94%;
    margin: 0 auto;
}

.slider img {
    width: 40vw;
    height: auto;
}

.slider .slick-slide {
    transform: scale(0.8);
    transition: all 0.5s;
    opacity: 0.5;
}

.slider .slick-slide.slick-center {
    transform: scale(1);
    opacity: 1;
}

/* 矢印のスタイル */
.slick-prev, .slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

/* ドットナビゲーションのスタイル */
.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
}

/* フッター */
footer {
    margin-top: 60px; /* フッターの上部に50pxの余白を追加 */
    background-color: #e0d7bf; /* フッターの背景色 */
    color: black; /* フッターの文字色 */
  }
  
  footer a {
    color: black; /* フッターのリンク色の初期値 */
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ccc; /* フッターのリンク色のホバー時 */
  }